* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  background-color: skyblue;
  font-family: "Mukta", Courier, monospace;
}

.one {
  display: grid;
  background-color: grey;
  max-width: 1000px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100px 100px 100px 100px;
  gap: 1rem;
  margin: 50px auto;
}

.item {
  background-color: aliceblue;
}

.item:first-child {
  background-color: green;
  grid-column: 1 / span 4;
}

.item:nth-child(2) {
  background-color: blue;
  grid-column: 1 / span 1;
  grid-row: 2 / span 2;
}

.item:last-child {
  background-color: yellow;
  grid-column: 1 / 5;
}

.fa-solid {
  color: red;
  font-size: 2rem;
}

/* Harjoitus 2*/

.two {
  max-width: 1000px;
  margin: 50px auto;
  gap: 0.4rem;
  display: grid;
  grid-template-areas:
    "top top top top top"
    "left content content content right"
    "left content content content right"
    "left content content content right"
    "bottom bottom bottom bottom bottom";
  grid-auto-rows: 1fr;
}

header {
  background-color: green;
  grid-area: top;
  padding: 1rem;
  min-height: 100px;
}
.left {
  grid-area: left;
  background-color: rgb(9, 89, 121);
  padding: 1rem;
}
main {
  grid-area: content;
  background-color: aqua;
  padding: 1rem;
}
aside {
  grid-area: right;
  background-color: aquamarine;
  padding: 1rem;
}
footer {
  grid-area: bottom;
  padding: 1rem;
  background-color: teal;
}
